@tailwind base;
@tailwind utilities;

.component-fade-enter-active, .component-fade-leave-active {
  transition: all .2s;
}
.component-fade-enter-from{
	opacity: 0;
	transform: translateX(100%);
}

.component-fade-leave-to{
	opacity: 100;
	transform: translateX(-100%);
}

html, body{
	height: 100%;
}