@tailwind base;
@tailwind utilities;

.component-fade-enter-active, .component-fade-leave-active {
  transition: all .2s ease-in-out;
}
.component-fade-enter
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateX(100%);
}

.component-fade-leave-to{
	opacity: 100;
  	transform: translateX(-100%);
}

html, body{
	height: 100%;
}