@tailwind base;
@tailwind utilities;

/* poppins-regular - latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''),
		url('/assets/fonts/poppins-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('/assets/fonts/poppins-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
		url('/assets/fonts/poppins-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
}
/* poppins-600 - latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: local(''),
		url('/assets/fonts/poppins-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
		url('/assets/fonts/poppins-v15-latin-600.woff') format('woff'), /* Modern Browsers */
		url('/assets/fonts/poppins-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
}
/* poppins-700 - latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local(''),
		url('/assets/fonts/poppins-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
		url('/assets/fonts/poppins-v15-latin-700.woff') format('woff'), /* Modern Browsers */
		url('/assets/fonts/poppins-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
}

.icon{
	width: 24px;
	height: 24px;
}

.icon-sm{
	width:20px;
	height:20px;
}

.icon-xs{
	width:14px;
	height:14px;
}

.view-fade-enter-active, .view-fade-leave-active {
  transition: all .2s;
}
.view-fade-enter-from{
	opacity: 0;
	transform: translateX(100%);
}

.view-fade-leave-to{
	opacity: 100;
	transform: translateX(-100%);
}

.tab-fade-enter-active, .tab-fade-leave-active {
  transition: all .15s ease-in-out;
}
.tab-fade-enter-from, .tab-fade-leave-to{
	opacity: 0;
}

.toast-move-enter-active, .toast-move-leave-active {
  transition: all .2s;
}
.toast-move-enter-from{
	opacity: 0;
	transform: translateY(-100%);
}
.toast-move-leave-to{
	opacity: 0;
}

.checkout-text-enter-active, .checkout-text-leave-active {
  transition: all .2s;
}
.checkout-text-enter-from, .checkout-text-leave-to{
	opacity: 0;
}

.custom-score-enter-active, .custom-score-leave-active {
  transition: all .2s;
}
.custom-score-enter-from, .custom-score-leave-to{
	transform: translateY(100%);
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #3B82F6;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

html, body{
	@apply text-gray-800;
	font-family: 'Poppins', sans-serif;
	height: calc(100% - 1.75rem);
}